.feedback-container{
    margin: auto;
    padding: 2rem;
    align-items: center;
    margin: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 182, 185);;
    border:2px solid;
    margin-bottom:400px;
    width: 400px;
    border-radius: 10px;
}
.feedbackWrapper{
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    height:800px;
    padding-left: 500px;
}
.feedbackInput{
    border-radius: 10px;
}
.feedbackSubmit{
    display: inline-block;
    /* border: 2px solid black; */
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size:1rem;
    margin-top: 10px;
    border: 1px solid;
    background-color: #ff6b81;
}